{#
/**
 * @file
 * Default theme implementation to present a mirtek product entity.
 *
 * This template is used when viewing a canonical mirtek product page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mirtek_product()
 */
#}
{%
  set classes = [
  'wrapper',
  'product-full',
]
%}
{{ attach_library('mirtekgroup/swiper') }}

<article{{ attributes.addClass(classes) }} >
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="box-product">
    <div class="product-item-1">
      <div class="h1 product-variations">{{- title -}}</div>
      {% if mirtek_product.title is not empty %}
        <h2 class="product-title">{{- mirtek_product.title|without('#theme') -}}</h2>
      {% endif %}
      {% if content.field_body is not empty %}
        <div class="product-body">{{- content.field_body|without('#theme') -}}</div>
      {% endif %}
    </div>
    {% if content.field_image['#items'] is not empty and content.field_image['#items'].entity.uri.value is not empty %}
      <div class="product-item-2">
        <div class="product-image">{{- content.field_image|without('#theme') -}}</div>
      </div>
    {% endif %}
  </div>
  <div>
    <h2 class="h2">Скриншоты</h2>
    <div class="product-screen">
      <div class="swiper swiper-product">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          {% for item in content.field_images['#items'] %}
            <div class="swiper-slide">
              {% set image_file = item.entity %}
              <a href="{{ file_url(image_file.uri.value) }}" aria-controls="colorbox" class="colorbox cboxElement colorbox-example3" data-colorbox-gallery="productGallery" role="button" data-once="init-colorbox">
                <img src="{{ file_url(image_file.uri.value) }}" alt="{{ image_file.alt }}">
              </a>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
  {% if content.field_feature|render %}
  <div>
    <h2 class="h2">Ключевые особенности</h2>
    <div class="product-feature">
      {{- content.field_feature -}}
    </div>
  </div>
  {% endif %}
  <div>
    <div class="product-tabs">
      <ul class="tab-links">
        {% if docs_block_has_results %}
          <li class="active" data-index="1"><div>Документация</div></li>
        {% endif %}
        {% if install_block_has_results %}
          <li data-index="2"><div>Инсталяции</div></li>
        {% endif %}
      </ul>

      <div class="tab-content">
        {% if docs_block_has_results %}
          <div id="tab1" class="tab active">
            <div class="product-docs">
              <div class="doc-items">
                {{ drupal_view('docs_in_produkt', 'docs_block', id) }}
              </div>
            </div>
          </div>
        {% endif %}
        {% if install_block_has_results %}
          <div id="tab2" class="tab">
            <div class="product-docs">
              <div class="doc-items">
                {{ drupal_view('docs_in_produkt', 'install_block', id) }}
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if content.field_related_products|render %}
  <div>
    <h2 class="h2">Сопутствующая продукция</h2>
    <div class="related_products">
      {{- content.field_related_products -}}
    </div>
  </div>
  {% endif %}
</article>
