{#
/**
 * @file
 * Default theme implementation to present a mirtek product entity.
 *
 * This template is used when viewing a canonical mirtek product page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mirtek_product()
 */
#}
{%
  set classes = [
  'search-content',
]
%}

<article{{ attributes.addClass(classes) }} >
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="product">
    <h3 class="h3">{{ content.label }}</h3>
    {% if content.field_body is not empty %}
      <div class="body">{{- content.field_body|without('#theme') -}}</div>
    {% endif %}
    <div class="type">{{ 'Software'|t }}</div>
  </div>

</article>
