{#
/**
 * @file
 * Default theme implementation to present a mirtek product entity.
 *
 * This template is used when viewing a canonical mirtek product page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mirtek_product()
 */
#}
{%
  set classes = [
  'wrapper',
  'product-full',
]
%}

<article{{ attributes.addClass(classes) }} >
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="box-product">
    <div class="product-item-1">
      <div class="h1 product-variations">{{- title -}}</div>
      <div class="product-tags"> {{- content.field_tags|without('#theme') -}}</div>
      {% if mirtek_product.title is not empty %}
        <h2 class="product-title">{{- mirtek_product.title|without('#theme') -}}</h2>
      {% endif %}
      {% if content.field_body is not empty %}
        <div class="product-body">{{- content.field_body|without('#theme') -}}</div>
      {% endif %}
    </div>
    {% if content.field_image['#items'] is not empty and content.field_image['#items'].entity.uri.value is not empty %}
      <div class="product-item-2">
        <div class="product-image">{{- content.field_image|without('#theme') -}}</div>
      </div>
    {% endif %}
  </div>
  {% if content.field_image['#items'] is not empty and content.field_image['#items'].entity.uri.value is not empty %}
      <div>
          <h2 class="h2">Виды</h2>
          <div class="product-types">
              {{- content.field_images|without('#theme') -}}
          </div>
      </div>
  {% endif %}
  {% if content.field_feature|render %}
      <div>
          <h2 class="h2">Ключевые особенности</h2>
          <div class="product-feature">
              {{- content.field_feature -}}
          </div>
      </div>
  {% endif %}
  {% if content.field_extra|render %}
      <div>
          <h2 class="h2">Дополнительно</h2>
          <div class="product-feature">
              {{- content.field_extra -}}
          </div>
      </div>
  {% endif %}
  <div class="product-tabs">
    <ul class="tab-links">
      {% if content.field_specs|render %}
        <li class="active" data-index="1"><div>Характеристики</div></li>
      {% endif %}
      {% if docs_block_has_results %}
        <li data-index="2"><div>Документация</div></li>
      {% endif %}
      {% if install_block_has_results %}
        <li data-index="3"><div>Инсталяции</div></li>
      {% endif %}
      {% if content.field_sybols|render %}
        <li data-index="4"><div>Условные обозначения</div></li>
      {% endif %}
      {% if content.field_performances|render %}
        <li data-index="5"><div>Исполнения</div></li>
      {% endif %}
      {% if content.field_dimensions|render %}
        <li data-index="6"><div>Габаритные размеры</div></li>
      {% endif %}
    </ul>

    <div class="tab-content">
      {% if content.field_specs|render %}
        <div id="tab1" class="tab active">
          <div class="product-specs">
            {{- content.field_specs|without('#theme') -}}
          </div>
        </div>
      {% endif %}

      {% if docs_block_has_results %}
        <div id="tab2" class="tab">
          <div class="product-docs">
            <div class="doc-items">
              {{ drupal_view('docs_in_produkt', 'docs_block', id) }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if install_block_has_results %}
        <div id="tab3" class="tab">
          <div class="product-docs">
            <div class="doc-items">
              {{ drupal_view('docs_in_produkt', 'install_block', id) }}
            </div>
          </div>
        </div>
      {% endif %}

      {% if content.field_sybols|render %}
        <div id="tab4" class="tab">
          <div class="product-specs">
            {{- content.field_sybols|without('#theme') -}}
          </div>
        </div>
      {% endif %}

      {% if content.field_performances|render %}
        <div id="tab5" class="tab">
          <div class="product-performances">
            {{- content.field_performances|without('#theme') -}}
          </div>
          <hr>
        </div>
      {% endif %}

      {% if content.field_dimensions|render %}
        <div id="tab6" class="tab">
          <div class="product-dimensions">
            {{- content.field_dimensions|without('#theme') -}}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {% if content.field_related_products|render %}
      <div>
          <h2 class="h2">Сопутствующая продукция</h2>
          <div class="related_products">
              {{- content.field_related_products -}}
          </div>
      </div>
  {% endif %}
</article>
