{#
/**
 * @file
 * Default theme implementation to present a mirtek product entity.
 *
 * This template is used when viewing a canonical mirtek product page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mirtek_product()
 */
#}
{%
  set classes = [
  'wrapper',
  'product-full',
]
%}

<article{{ attributes.addClass(classes) }} >
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="box-product">
    <div class="product-item-1">
      <div class="product-variations">{{- title -}}</div>
      {#            <div class="product-images">{{- product.variation_field_imagesss|without('#theme') -}}</div>#}
      {% if mirtek_product.title is not empty %}
        <h2 class="product-title">{{- mirtek_product.title|without('#theme') -}}</h2>
      {% endif %}
      {% if content.field_body is not empty %}
        <div class="product-body">{{- content.field_body|without('#theme') -}}</div>
      {% endif %}
    </div>
    {% if content.field_image['#items'] is not empty and content.field_image['#items'].entity.uri.value is not empty %}
      <div class="product-item-2">
        <div class="product-image">{{- content.field_image|without('#theme') -}}</div>
      </div>
    {% endif %}
  </div>
  <div class="product-screens">
    <h2>Скриншоты</h2>
    <div class="gallery">
      {{- content.field_images -}}
    </div>
  </div>
  <h2>Ключевые особенности</h2>
  <div class="product-feature">
    <div class="feature-items">
      {{- content.field_feature -}}
    </div>
  </div>
  <h2>Дополнительно</h2>
  <div class="product-feature">
      <div class="feature-items">
        {{- content.field_extra -}}
      </div>
  </div>
  <div class="product-docs">
    <h2>Документация</h2>
    <div class="doc-items">
      {{ drupal_view('docs_in_produkt', 'docs_in_product', id) }}
    </div>
  </div>
  <div class="product-specs">
    <h2>Характеристики</h2>
      {{- content.field_specs|without('#theme') -}}
  </div>
  <div class="product-specs">
    <h2>Условные обозначения</h2>
    {{- content.field_sybols|without('#theme') -}}
  </div>

  <div class="related_products">
      {{- content.field_related_products -}}
  </div>
</article>
