<div id="root">
    <header class="header">
        {{ page.header }}
        {{ page.header_navigation }}
    </header>
    <main class="main ">
            {% if page.breadcrumb %}
                <nav class="breadcrumb">
                    {{ page.breadcrumb }}
                </nav>
            {% endif %}
            {{ page.content }}
    </main>
    <footer class="footer">
        {{ page.footer }}
    </footer>
</div>
