{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

<div class="footer-1">{{ 'Ordering products'|t }}:
    {% if footer_email|render %}
        <a href="mailto:{{footer_email}}">{{footer_email}}</a>
    {% endif %}
    {% if footer_telephone|render %}
        <div class="footer-telephone">{{footer_telephone}}</div>
    {% endif %}
</div>
<hr class="line">
<div class="footer-2">
    {# {{ '«MIRTEK» LLP'|t }} #}
    <div class="footer-second">
        <div>©<span class="date">2006-{{ "now"|date("Y") }}</span> ГРУППА КОМПАНИЙ «МИРТЕК»</div>
        <div class="footer-content">
            {{ content }}
        </div>
    </div>
    <div>
        <iframe src="https://yandex.ru/sprav/widget/rating-badge/1013827055?type=rating&theme=dark" width="150" height="50" frameborder="0"></iframe>
    </div>
    <div class="soc-icon">
        <a class="icon-telegram" href="{{telegram}}" target="_blank"></a>
        <a class="icon-rutube" href="{{rutube}}" target="_blank"></a>
        <a class="icon-vk" href="{{vk}}" target="_blank"></a>
    </div>
</div>


