{% block paragraph %}
        {% block content %}
            <div class="paragraph paragraph--type--video-with-title-and-text wrapper">
                {% if content.field_headline_div|render %}
                    {{ content.field_headline_div|without('#theme') }}
                {% endif %}
{#                {{ dump(content.field_video) }}#}
                <div class="content">
                    <div class="item">
                        {% if content.field_text|render %}
                            <div class="paragraph-text">
                                {{ content.field_text }}
                            </div>
                        {% endif %}
                        {% if content.field_button|render %}
                            <div class="section-buttons">{{ content.field_button|without('#theme')  }}</div>
                        {% endif %}
                    </div>
                    <div class="item">
                        <div class="paragraph-video">
                            {% if content.field_video|render %}
                                {# Используем кастомное превью #}
                                <div class="video-embed">
                                    <img src="{{ content.field_video['#video_embed_field_preview_image'] }}" alt="Custom preview" class="video-preview" data-video-url="{{ content.field_video[0].children['#url'] }}"/>
                                    <span class="play-icon"></span>
                                </div>
                            {% else %}
                            <div class="video-embed">
                                {# Если нету видео выводим саму картинку превьюшки #}
                                {{ content.field_img|without('#theme') }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
{% endblock paragraph %}
