{% block paragraph %}
    {% block content %}
        <div class="paragraph paragraph--big-image-with-headline-text wrapper">
            <div class="content {{ image_position }}">
                {% if content.field_img %}
                <div class="item">{{ content.field_img }}</div>
                {% endif %}
                {% if content %}
                <div class="item">
                    {{ content.field_headline_div|without('#theme')|typography }}
                    {{ content.field_description|without('#theme')|typography  }}
                    {% if content.field_button|render %}
                    <div class="section-buttons">{{ content.field_button|without('#theme')  }}</div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock paragraph %}


