{% set classes = ['paragraph', 'paragraph-otzyv'] %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="item" data-file="{{- content.field_file|without('#theme') -}}">
                <a href="{{- content.field_file|without('#theme') -}}" class="link-overlay"></a>
                <div class="image-container">
                    {{- content.field_image|without('#theme') -}}
                    <div class="overlay">
                        <div class="icon"></div>
                    </div>
                </div>
                <div class="item-bottom">
                    <div class="otzyv-title">{{ content.field_title }}</div>
                    <div class="otzyv-icon"></div>
                </div>
            </div>
        {% endblock %}
    </div>
    <div id="copy-notification" class="copy-notification">{{ 'Link copied'|t }}</div>
{% endblock paragraph %}
