{%
  set classes = [
  'node',
  'node-us-teaser',
]
%}

<article{{ attributes.addClass(classes) }} style='background-image: url({{- background -}})'>

  <div class="row">
      <a href="{{ url }}"></a>
    <div class="node-content">
        <div class="content-left">
            <div class="node-title">{{ label }}</div>
            <div class="node-subtitle">{{- content.field_description|without('#theme') -}}</div>
            {% if content.field_doc_file|render -%}
                <div class="button-save">
                    <div class="doc-save"></div>
                    <a class="node-file" href="{{ content.field_doc_file|without('#theme') }}">Скачать</a>
                </div>
            {% endif %}
        </div>

        <div class="node-down">
            <div class="node-bottom">
                <div class="button-more-black">
                    <a href="{{ url }}" rel="bookmark">{{ "Подробнее"|t }}
                        <span class="icon">
                            <svg width="20" height="20" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M33.0896 27.2977C25.0064 27.2977 17.0192 27.2977 9 27.2977C9 25.7806 9 24.2761 9 22.7338C16.9936 22.7338 25 22.7338 33.1024 22.7338C30.6192 19.75 28.2 16.8417 25.7552 13.8957C26.9456 12.9326 28.1296 11.982 29.352 11C33.2304 15.6583 37.1024 20.3228 41 25C37.1216 29.6583 33.2496 34.3228 29.352 39C28.1488 38.0306 26.9648 37.0737 25.7552 36.1106C28.2 33.1897 30.6192 30.2689 33.0896 27.2977Z" fill="#1D1D1D"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
      <div class="node-image">
          {{- content.field_image_preview|without('#theme') -}}
      </div>
  </div>

</article>
