{%
  set classes = [
  'node',
  'node-us-full',
]
%}


<article{{ attributes.addClass(classes) }} style='background-image: url({{- background -}})'>
    <div class="node-title h1">{{ label }}</div>
    <div class="node-subtitle">{{- content.field_description|without('#theme') -}}</div>
    {% if content.field_doc_file|render -%}
        <div class="button-save">
            <div class="doc-save"></div>
            <a class="node-file" href="{{ content.field_doc_file|without('#theme') }}">Скачать</a>
        </div>
    {% endif %}
    <div class="node-text">{{- content.body|without('#theme') -}}</div>
    <div class="node-image">{{- content.field_image|without('#theme') -}}</div>

</article>
