{%
    set classes = [
    'node',
    'contact',
]
%}

<article{{ attributes.addClass(classes) }}>
    <div class="title address"
         data-city="{{ content.field_city['#items'][0].value }}"
         data-coordinates="{{ content.field_coordinates['#items'][0].value }}"
         data-company="{{ content.field_company['#items'][0].value }}"
         data-body="{{ content.body['#items'][0].value }}"
         data-note="{{ content.field_note['#items'][0].value }}">
        <div>
            <div class="h4 city">{{ content.field_city|without('#theme')|typography }}</div>
            <div class="company">{{ content.field_company|without('#theme')|typography }}</div>
        </div>
        <div>
            <div class="mdi mdi-chevron"></div>
        </div>
    </div>
</article>

<div class="paragraphs">
    {{ content.field_data|without('#theme')|typography }}
</div>
