{%
  set classes = [
  'node',
  'node-us-full',
]
%}


<article{{ attributes.addClass(classes) }} style='background-image: url({{- background -}})'>

    <div class="node-title h1">{{ label }}</div>
    <div class="node-image">{{- content.field_image|without('#theme') -}}</div>
    <div class="node-text">{{- content.body|without('#theme') -}}</div>
    {% if content.field_reviews|render %}
        <div class="h2 title">Отзывы</div>
        <div class="node-reviews">{{- content.field_reviews|without('#theme') -}}</div>
    {% endif %}

</article>
