{%
  set classes = [
  'node',
  'wrapper',
  'page-error',
]
%}
<article{{ attributes.addClass(classes) }} style='background-image: url({{- background -}})'>
  {# Лого и заголовок #}
    <div class="navbar-brand">
        <a href="https://mirtekgroup.com" class="logo-link"></a>
    </div>
    <div class="content">
        <div class="error-number"><p>4</p><p class="zero">0</p><p>3</p></div>
        <div class="error-text">
            {{ "Access denied"|t }}
            <p class="text-small">{{ "Access to the information resource is limited."|t }}</p>
        </div>
        <a class="btn-home" href="/" target="_blank">
            <span class="label">{{ 'homepage'|t }}</span>
        </a>
    </div>
</article>
